<div class="contact-us">
  <!-- <img src="../../../assets/image/popcorn-soda.png" class="contact-img"> -->
  <img src="assets/image/popcorn-soda.png" class="contact-img" />
  <div class="contact-title">
    <h2>Contact <span>Us</span></h2>
    <p>Visit Our Website Today</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-content">
        <h3>Opening Hours</h3>
        <ul class="list-unstyled">
          <li><i class="fa fa-clock"></i> Monday - Friday - 9am to 6pm</li>
          <li><i class="fa fa-clock"></i> Saturday - Sunday - 10am to 4pm</li>
        </ul>
      </div>
      <div class="col-md-6 right-content">
        <h3>Get In Touch</h3>
        <ul class="list-unstyled">
          <li>Kalideres, Jakarta Barat <i class="fa fa-map-location"></i></li>
          <li>
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=new"
              target="blank"
              >ruztonchiqiute93@gmail.com</a
            >
            <i class="fa fa-paper-plane"></i>
          </li>
          <li>
            <a href="https://wa.me/+6282122580499" target="blank"
              >0821 2258 0499</a
            >
            <i class="fa fa-phone"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="social text-center">
      <ul class="list-unstyled d-flex justify-content-center">
        <li>
          <a
            href="https://id.linkedin.com/in/ruston-efendi-jr93"
            target="blank"
          >
            <img src="assets/image/linkedin.png" class="img-social" />
          </a>
        </li>
        <li>
          <a href="https://github.com/ruston-RnY" target="blank">
            <img src="assets/image/github.png" class="img-social" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
