@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #121621;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(99, 99, 99, 0.63);
  // background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #B70204;
  border-radius: 4px;
}
