.main-head {
  position: fixed;
  width: 100%;
  padding: 0 5%;
  height: 100px;
  transition: .3s ease-in-out;
  background: #121621;
  z-index: 100;

  @media (max-width: 768px) {
    height: 70px;
  }

  &.fix-top {
    box-shadow: 0 2px 10px rgb(55 55 55 / 41%);

    @media (min-width: 992px) {
      height: 70px;

      nav {
        .logo {
          font-size: 30px;
        }

        .menu {
          ul {
            li {
              .search-bar {
                input {
                  top: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  nav {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;

    @media (max-width: 992px) {
      height: 80px;
    }

    @media (max-width: 768px) {
      height: 70px;
    }

    .logo {
      color: #fff !important;
      font-size: 40px;
      cursor: pointer;
      text-decoration: none;
      transition: .5s;

      @media (max-width: 576px) {
        font-size: 25px;
      }

      span {
        color: #B70204;
        font-weight: 700;
      }
    }

    .menu {
      margin-left: auto;

      @media (max-width: 992px) {
        display: none;
      }

      ul {
        display: flex;
        margin: 0;

        li {
          margin: 0 42px;

          a {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            text-transform: capitalize;

            &:hover {
              color: #B70204;
              text-decoration: none;
            }

            &.active {
              border-bottom: 2px solid #B70204;
              padding-bottom: 5px;
            }
          }

          .search-bar {

            i {
              position: relative;
              top: 3px;
              cursor: pointer;

              &:hover {
                color: #B70204;
              }

            }

            input {
              position: absolute;
              right: 30px;
              top: 30px;
              padding: 10px 15px;
              border-radius: 55px;
              color: #fff;
              font-size: 14px;
              background: transparent;
              outline: none;
              width: 0px;
              transition: 1s;
              border: 1px solid transparent;

              &::placeholder {
                text-align: center;
                color: #fff;
              }

              &.active {
                width: 300px;
                border: 1px solid #000;
                background: #fb1c1cde;
              }
            }
          }
        }
      }
    }

    .ic-menu {
      position: absolute;
      right: 0;
      width: 30px;
      cursor: pointer;
    }

    .ic-close {
      display: none;
      position: absolute;
      right: 0;
      width: 25px;
      cursor: pointer;
    }
  }

  .menu-mobile {
    height: 0;
    visibility: hidden;

    ul {
      li {
        margin: 20px 0;

        a {
          color: #fff;
          text-transform: capitalize;
        }
      }
    }

    .search-bar {
      position: relative;
      margin-bottom: 20px;

      i {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
        color: #B70204;
      }

      input {
        padding: 10px 15px;
        border-radius: 55px;
        color: #fff;
        font-size: 14px;
        background: transparent;
        outline: none;
        border: 1px solid #fff;
        width: 100%;

        &::placeholder {
          text-align: center;
          color: #fff;
        }
      }
    }

    .btn-show {
      color: #fff;
      font-size: 16px;
      padding: 10px 40px;
      border-radius: 30px;
      text-align: center;
      background: #B70204;

      &:hover {
        background: transparent;
        border: 1px solid #B70204;
        color: #fff;
        text-decoration: none;
      }
    }

    .social {
      margin-top: auto;

      ul {
        li {
          margin: 0 10px;

          a {
            color: #007bff;

            &:hover {
              color: #B70204;
            }

            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  &.open {
    height: 100vh;
    overflow: hidden;

    nav {
      .ic-menu {
        display: none !important;
      }

      .ic-close {
        display: block;
      }
    }

    .menu-mobile {
      visibility: visible;
      height: 85vh;
      display: flex;
      flex-direction: column;
    }
  }
}
