.main-head {
  position: fixed;
  width: 100%;
  padding: 0 5%;
  height: 100px;
  transition: .5s;
  background: #121621;
  z-index: 100;

  @media (max-width: 576px) {
    height: 70px;
  }

  &.fix-top {
    box-shadow: 0 2px 10px rgb(91 91 91 / 18%);

    @media (min-width: 992px) {
      height: 70px;

      nav {
        .logo {
          font-size: 30px;
        }
      }
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    background: #121621;

    @media (max-width: 768px) {
      height: 70px;
    }

    .logo {
      color: #fff !important;
      font-size: 40px;
      cursor: pointer;
      text-decoration: none;
      transition: .5s;

      @media (max-width: 576px) {
        font-size: 30px;
      }

      span {
        color: #B70204;
        font-weight: 700;
      }
    }

    ul {
      flex: 1;
      text-align: right;
      position: relative;
      margin: 0;

      @media (max-width: 992px) {
        display: none;
      }

      li {
        display: inline-block;
        margin: 0 42px;

        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;

          &:hover {
            color: #B70204;
            text-decoration: none;
          }

          &.active {
            border-bottom: 2px solid #B70204;
            padding-bottom: 5px;
          }
        }

        #search-bar {

          i {
            position: relative;
            top: 3px;
            cursor: pointer;

            &:hover {
              color: #B70204;
            }

          }

          input {
            position: absolute;
            right: 30px;
            top: -3px;
            padding: 5px 15px;
            border-radius: 55px;
            color: #fff;
            font-size: 14px;
            background: transparent;
            outline: none;
            width: 0px;
            transition: 1s;
            border: 0;

            &::placeholder {
              text-align: center;
              color: #fff;
            }

            &.active {
              width: 260px;
              border: 1px solid #000;
              background: #fb1c1cde;
            }
          }


        }
      }

    }

    .ic-menu {
      width: 30px;
      cursor: pointer;
      margin-left: auto;
    }
  }

  .menu-mobile {
    visibility: hidden;
    margin-top: 20px;

    li {
      margin: 10px 0;

      a {
        color: #fff;
        text-decoration: none;
      }


    }

  }

  &.open {
    height: 100vh;

    .menu-mobile {
      // height: 100vh;
      visibility: visible;
    }
  }
}
