<div class="banner">
   <div class="container-wrap d-flex flex-wrap">
      <div class="left-col">
          <div class="card-banner">
              <div class="row">
                  <div class="col-8">
                      <div class="row">
                          <div class="col-md-4 bnr" data-aos="zoom-in"  data-aos-delay="100">
                              <img src="https://image.tmdb.org/t/p/w185/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg" class="thumb-img">
                          </div>
                          <div class="col-md-4 bnr" data-aos="zoom-in"  data-aos-delay="200">
                              <img src="https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg"  class="thumb-img">
                          </div>
                          <div class="col-md-4 bnr" data-aos="zoom-in"  data-aos-delay="300">
                              <img src="https://image.tmdb.org/t/p/w185/1UkbPQspPbq1FPbFP4VV1ELCfSN.jpg" class="thumb-img">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="desc">
              <h2>All about <span>Movies</span> is here</h2>
              <p>get your favorite movie information with one click, Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, dolorum?</p>
              <a class="btn btn-action">Explore Now</a>
          </div>
      </div>
      <div class="right-col">
          <div class="banner-content" data-aos="zoom-in">
              <div class="banner-img">
                  <img src="../../../assets/image/venom.png" alt="">
              </div>
              <h6>We provide the best movie <br> information for you</h6>
          </div>
      </div>
   </div>
</div>