.banner {
  .btn-action {
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 40px;
    border: 1px solid #B70204;
    border-radius: 10px;

    &:hover {
      background: #B70204;
      color: #fff;
    }
  }

  .container-wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;

    @media (max-width: 576px) {
      min-height: 100vh;
    }

    @media (min-width: 576px) {
      min-height: 60vh;
    }

    .left-col {
      flex-basis: 62%;
      padding: 10% 5% 0;

      @media (max-width: 1024px) {
        margin-top: 100px;
      }

      @media (max-width: 576px) {
        flex-basis: 100%;
        order: 2;
        padding-top: 0;
        margin-top: unset;
      }

      .card-banner {
        position: relative;
        width: 100%;

        @media (max-width: 576px) {
          display: none;
        }

        .bnr {

          img {
            width: 100%;
            border-radius: 10px;
            transition: transform 0.5s;

            &:hover {
              transform: translateY(-10px);
              cursor: pointer;
            }
          }
        }

      }

      .desc {
        padding-top: 30px;

        h2 {
          font-weight: 500;

          span {
            color: #B70204;
            font-weight: bold;
          }
        }

        p {
          text-transform: capitalize;
        }
      }
    }

    .right-col {
      flex-basis: 38%;
      padding: 10% 3% 0;
      // background: rgba(71, 0, 204, 0.6);
      background: #320f7299;
      position: relative;

      @media (max-width: 576px) {
        flex-basis: 100%;
        order: 1;
        background: transparent;
        padding: 0 3%;
      }

      .banner-content {
        @media (max-width: 1024px) {
          margin-top: 100px;
        }

        .banner-img {
          img {
            width: 100%;
          }
        }

        h6 {
          font-weight: 500;
          padding-left: 30px;
          margin-top: 50px;
          position: absolute;
          line-height: 20px;

          &::before {
            content: '';
            background: #B70204;
            height: 100%;
            width: 6px;
            border-radius: 5px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }

          @media (max-width: 576px) {
            display: none;
          }

        }
      }
    }
  }
}
