<div class="banner">
  <div class="container-wrap d-flex flex-wrap">
    <div class="left-col">
      <div class="card-banner">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div
                class="col-md-4 bnr"
                *ngFor="let item of compData | slice: 0:3"
                data-aos="zoom-in"
              >
                <img
                  [src]="urlImage + 'w185' + item.poster_path"
                  class="thumb-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="desc">
        <h2>All about <span>Movies</span> is here</h2>
        <p>
          get the latest and updated information from your favorite movies with
          one click, let's start right now!
        </p>
        <a class="btn btn-action" (click)="navigate()">Explore Now</a>
      </div>
    </div>
    <div class="right-col">
      <div class="banner-content" data-aos="zoom-in">
        <div class="banner-img">
          <img src="assets/image/venom.png" alt="" />
        </div>
        <h6>
          We provide the best movie <br />
          information for you
        </h6>
      </div>
    </div>
  </div>
</div>
