.home {
  .upcoming-movies {
    padding: 90px 0 50px;

    .upcoming-title {
      text-align: center;
      padding: 20px 0 40px;

      h2 {
        font-size: 28px;
        font-weight: 500;
        margin: 0;

        span {
          font-size: 28px;
          color: #B70204;
          font-weight: bold;
        }
      }

      span {
        font-weight: 300;
        font-size: 14px;
      }
    }

    .slider {
      .slider-img {
        height: 330px;
        position: relative;
        padding: 10px;

        @media (max-width: 576px) {
          height: 85vw;
        }

        &:hover {
          .overlay {
            opacity: 1;
          }

          // .btn-detail {
          //   opacity: 1;
          //   bottom: 45%;
          // }

          .title-movie {
            opacity: 1;
            bottom: 45%;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
          cursor: pointer;
        }

        .overlay {
          width: 91%;
          height: 94%;
          position: absolute;
          top: 10px;
          border-radius: 8px;
          cursor: pointer;
          background: linear-gradient(rgba(0, 0, 0, 0.5), #421a0a);
          opacity: 0;
          transition: 1s;
        }

        // .btn-detail {
        //   width: 50%;
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   background: transparent;
        //   border: 1px solid #B70204;
        //   font-size: 14px;
        //   color: #fff;
        //   opacity: 0;
        //   transition: 1s;
        //   outline: none;

        //   &:hover {
        //     background: #B70204;
        //   }
        // }

        // button:focus {
        //   outline: 0;
        //   box-shadow: none;
        // }

        .title-movie {
          width: 80%;
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          color: #fff;
          opacity: 0;
          transition: 1s;
        }
      }
    }
  }

  .modal {
    .modal-content {
      background: #000000c9;
      position: relative;
      border-radius: 8px;
      border: 1px solid #401d1d;

      .img-detail {
        width: 90%;
        object-fit: cover;
        height: 100%;

        @media (max-width: 576px) {
          width: 100%;
        }
      }

      .detail {
        h3 {
          font-size: 24px;
        }

        hr {
          background-color: #B70204;
        }

        h5 {
          font-size: 18px;
        }

        p,
        li {
          font-size: 14px;
        }
      }

      .close {
        position: absolute;
        right: 0;
        opacity: 1;
        text-shadow: none;
        color: #B70204;
        background: #fff;
        padding: 3px 3px 4px;
        line-height: 0;
        height: 30px;
        font-size: 40px;
        z-index: 5;
        cursor: pointer;
        border-top-right-radius: 8px;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background: #B70204;
          color: #fff;
        }
      }
    }
  }
}
