<section class="home">
   <app-banner></app-banner>
   <div class="upcoming-movies">
      <div class="container">
          <div class="upcoming-title">
              <h2>Upcoming <span>Movies</span></h2>
              <span>Don't miss the latest movie info</span>
          </div>
          <div class="slider">
            <ngx-slick-carousel class="carousel" 
                     #slickModal="slick-carousel" 
                     [config]="slideConfig">
               <div ngxSlickItem *ngFor="let slide of movies" class="slide">
                  <div class="slider-img" (click)="getDetail(slide.id)">
                     <img class="card-img-top" [src]="urlImage+slide.poster_path" alt="Card image cap">
                     <div class="overlay"></div>
                     <p class="title-movie">{{ slide.title }} - {{ slide.release_date | date: 'y' }}</p>
                  </div>
               </div>
            </ngx-slick-carousel>
          </div>
      </div>
   </div>
   <app-section-thumb [compData]="thumb"></app-section-thumb>
   <app-contact-us></app-contact-us>

   <!-- modal -->
   <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1"
   role="dialog" aria-labelledby="dialog-sizes-name1">
     <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7 col-lg-4 mb-4">
                    <img class="img-detail" [src]="urlImage+selectedMovie?.poster_path">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="detail">
                        <h3>{{ selectedMovie?.title }}</h3>
                        <hr>
                        <div class="desc">
                            <h5>Synopsis :</h5>
                            <p>{{ selectedMovie?.overview }}</p>
                        </div>
                        <div class="detail-footer">
                            <ul class="list-unstyled">
                                <li>Release : {{ selectedMovie?.release_date | date: 'd MMM y' }}</li>
                                <li>Director : {{ producer?.name }}</li>
                                <li>Actore : <span *ngFor="let item of actor | slice:0:5" class="pl-1">{{ item?.name }},</span></li>
                            </ul>
                        </div>
                        <div class="d-flex">
                          <p>Genre :</p>
                          <ul class="list-unstyled d-flex ml-2">
                            <li *ngFor="let item of selectedMovie?.genres" class="mr-2">{{ item.name }},</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
     </div>
   </div>
</section>
