<div class="thumb">
   <div class="why-us">
      <div class="container">
          <div class="row" *ngFor="let item of compData" [ngClass]="{'content-custom': item.position == 'right'}">
              <div class="col-md-6" [ngClass]="{'d-flex box-img': item.position == 'right'}">
                  <img [src]="item.image" data-aos="zoom-out">
              </div>
              <div class="col-md-6 box-desc" data-aos="fade-up">
                  <div class="desc">
                      <h2>{{ item.title }} <span>{{ item?.subtitle }}</span></h2>
                      <div [innerHTML]="item.desc"></div>
                  </div>
                  <div class="ic-movie" *ngIf="currentPage == '/home'">
                      <img src="../../../assets/image/popcorn.png" alt="">
                      <img src="../../../assets/image/watch.png" alt="">
                      <img src="../../../assets/image/soda.png" alt="">
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>