<div class="thumb">
   <div class="why-us">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="../../../assets/image/home-cinema.png" alt="">
              </div>
              <div class="col-md-6">
                  <div class="desc">
                      <h2>Easy <span>Access</span></h2>
                      <p>Easy to find accurate and fast movie information, you can get the best info anywhere and anytime</p>
                      <p>With the convenience you get, free time with family becomes more quality, a good spectacle can increase concentration and provide new enthusiasm and inspiration in living life</p>
                  </div>
                  <div class="ic-movie">
                      <img src="../../../assets/image/popcorn.png" alt="">
                      <img src="../../../assets/image/watch.png" alt="">
                      <img src="../../../assets/image/soda.png" alt="">
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>