<section class="movies">
   <div class="container">
      <div class="search-content">
         <h2>Search your <span>Movies</span></h2>
         <span>Don't miss the latest movie info</span>
         <div class="search mt-3">
             <input type="text" placeholder="keyword..." class="search-bar">
             <div class="d-flex justify-content-center mt-3">
                 <ul class="breadcrumb">
                     <li><span></span>Popular</li>
                     <li><span></span>Upcoming</li>
                     <li><span></span>Year</li>
                 </ul>
             </div>
         </div>
     </div>
   </div>
   <app-list-movies></app-list-movies>
   <app-contact-us></app-contact-us>
</section>